.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .formContainer {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 80vh;
    text-align: center;
    justify-self: center;
  }
  
  .formContainer h2 {
    color: #007bff;
    margin-bottom: 20px;
  }
  
  .formContainer input,
  .formContainer select {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    
  }
  .formGroup {
  margin-bottom: 15px;
  text-align: center
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

  .formContainer button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formContainer button:hover {
    background-color: #0056b3;
  }
  
  .tableWrapper {
    margin-top: 20px;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table th, .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .table td {
    background-color: #fff;
  }
  
  .table button {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .table button:hover {
    background-color: #c82333;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pageButton {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
  }
  
  .pageButton:hover {
    background-color: #0056b3;
  }
  
  .activePage {
    background-color: #0056b3;
  }
  
  .loading {
    text-align: center;
    font-size: 20px;
    color: #007bff;
  }
  